* {
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.heading {
    text-align: center;
    font-size: 22px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.link-names {
    padding: 10px;
    font-size: 20px;
    color: black;
}

.line {
    position: relative;
    display: flex;
    width: 73.4%;
    left: 6px;
    margin: 0 auto;
    border: 1px solid #f2f2f2;
}





.link-names a {
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.link-names a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: black;
    z-index: 5;
    transition: width 0.3s ease-in;
}

.link-names a:hover::after,
.link-names a:focus::after,
.link-names a:active::after {
    width: 100%;
}

.link-names a:visited {
    color: black;
}

#intro-heading {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    position: relative;
    width: 350px;
    padding-left: 40px;
    top: 20px;
    display: flex;
    align-items: center;
    border-top-right-radius: 40px;
    background-color: rgba(201, 140, 60, 0.144);
    font-size: 34px;
    padding-top: 20px;
    margin-bottom: 20px;
}


.introduction {
    background-color: rgba(201, 140, 60, 0.144);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.main {
    margin: 0;
}

.pic {
    height: 450px;
    margin-left: 50px;
    position: relative;
    right: 4%;
}

.heading-two {
    font-weight: 500;
    font-size: 60px;
    margin: 0;
    padding-left: 40px;
    padding-top: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.intro-para {
    position: relative;
    top: 300px;
    right: 240px;
}



#video-intro {
    font-weight: 900;
    padding: 30px;
    position: relative;
    right: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
}


.video-Into {
    display: flex;
    background-color: rgb(245, 233, 218);
}

.video-frame {
    padding: 20px;
    margin: 0 auto;
    /* width: 100px; */
}