/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0px 10px; */
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: #0f0f0f;
    color: #f1f1f1;
    /* padding: 0px 10px; */
    /* margin: 0px 10px; */
}



.navbar {
    color: #f1f1f1;
    border: 1px solid #202020;
    background-color: #181818;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.heading {
    text-align: center;
    font-size: 22px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.link-names {
    padding: 10px;
    font-size: 20px;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

.line {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    left: 6px;
    margin: 0 auto;
}

.link-names a {
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: #f1f1f1;
    text-decoration: none;
}

.link-names a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #00bcd4;
    z-index: 5;
    transition: width 0.3s ease-in;
}

.link-names a:hover::after,
.link-names a:focus::after,
.link-names a:active::after {
    width: 100%;
}

.link-names a:visited {
    color: #f1f1f1;
}

/* #intro-heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    position: relative;
    width: 350px;
    padding-left: 40px;
    top: 20px;
    display: flex;
    align-items: center;
    border-top-right-radius: 40px;
    background-color: #202020;
    font-size: 34px;
    padding-top: 20px;
    margin-bottom: 20px;
    color: #00bcd4;
} */

.introduction {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    color: #f1f1f1;
}

.main {
    margin: 0;
}

.pic {
    height: 450px;
    margin-left: 50px;
    position: relative;
    right: 3%;
}

.intro-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 700px;
    margin: 20px;
    padding: 20px;
    /* background-color: #181818; */
    color: #f1f1f1;

}

.heading-two {
    font-weight: 500;
    font-size: 60px;
    width: 40%;
    color: #00bcd4;
}

.intro-para {
    top: 300px;
    right: 230px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1f1f1;
}

#video-intro {
    color: #00bcd4;
    font-weight: 900;
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 34px;
    word-spacing: 6px;
}

.video-Into {
    display: flex;
}

.video-frame {
    padding: 20px;
    margin: 0 auto;
}

.qualification-sec {
    color: #f1f1f1;
    /* border: 1px solid red; */
    padding: 40px;
}

#qualification {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 34px;
    color: #00bcd4;
    /* padding-left: 20px; */
}

.qualifies {
    position: relative;
    width: 100%;
    border-collapse: collapse;
}

.qualifies th,
.qualifies td {
    border: 1px solid #202020;
    padding: 12px 15px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1f1f1;
}

.qualifies th {
    background-color: #181818;
    font-weight: bold;
}

.qualifies tr:nth-child(even) {
    background-color: #202020;
}

.skills {
    padding-left: 40px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1f1f1;
}

.skills h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 34px;
    color: #00bcd4;
    padding-left: 30px;
}

.skills ul {
    list-style-type: none;
    padding-left: 20px;
}

.skills ul li {
    font-size: 20px;
    margin: 10px 0;
    color: #f1f1f1;
    position: relative;
    padding-left: 20px;
}

.skills ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #00bcd4;
    font-size: 24px;
}

.skills ul ul {
    margin-left: 20px;
    padding-left: 20px;
}

.skills ul ul li::before {
    content: "–";
    color: #00bcd4;
    font-size: 18px;
}

.skills ul li:hover {
    color: #00bcd4;
    cursor: pointer;
}

.skills ul li:hover::before {
    color: #f1f1f1;
}

.experience {
    position: relative;
    left: 40px;
    padding-top: 40px;
    margin-right: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1f1f1;
}

#experience {
    color: #00bcd4;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 34px;
}

h3 {
    word-spacing: 8px;
    font-weight: 400;
}

#personal {
    padding-top: 40px;
    padding-left: 35px;
}

.personal-Info {
    color: #00bcd4;
    padding-bottom: 20px;
    font-size: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.personal-info {
    width: 97%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1f1f1;
}

.personal-info th,
.personal-info td {
    border: 1px solid #202020;
    padding: 12px;
    text-align: left;
}

.personal-info th {
    background-color: #181818;
    font-weight: bold;
    font-size: 20px;
}

.personal-info td {
    font-size: 18px;
}


@media (max-width: 768px) {

    .introduction,
    .video-Into {
        flex-direction: column;
        padding: 20px;
    }

    .intro-text {
        width: 100%;
    }

    .pic {
        height: auto;
        width: 100%;
        margin: 0;
    }
}